.boost-link-suggester-el {
	position: relative;
	width: 100%;
	margin-left: 0.5em;
}

.boost-link-suggester-el * {
	display: inline-block;
}

.boost-link-suggestion-text {
	margin-right: 3em;
}

.boost-link-item {
	font-size: smaller;
	clear: left;
	display: block;
	color: var(--text-muted);
}

.boost-link-is-alias {
	color: var(--text-muted);
	font-weight: bold;
	/* margin-left: -1em;
  margin-right: 1em;
  */
	position: absolute;
	left: -1em;
	transform: scale(1, -1);
	font-size: larger;
}

.is-mobile .boost-link-is-alias {
	position: unset;
}
